@page "/admin/role/"
@model IndexModel
@{
    ViewData["Title"] = "Role List";
}

<h3>Danh sách các role</h3>
<partial name="_StatusMessage" model="@Model.StatusMessage" />

<div class="my-1 d-inline">
    <a class="btn btn-secondary" asp-page="./Create">Thêm mới Role</a>
</div>

<a class="btn btn-secondary" asp-page="../User/Index">Gán role cho người dùng</a>

<table class="table">
  <tr>
    <th>Tên</th>
    <th>Tác vụ</th>
  </tr>
  @foreach (var role in @Model.roles)
  {
      <tr>
        <td>@role.Name</td>
        <td>
            <a class="btn btn-success btn-sm" asp-page="./Edit" asp-route-roleid="@role.Id">Cập nhật Role</a>
            <a class="btn btn-success btn-sm" asp-page="./Delete" asp-route-roleid="@role.Id">Xóa Role</a>
        </td>
      </tr>
  }
</table>